/*version=2018_08_17*/
html {font-family:Arial}
/* Style The Dropdown Button */
        .dropbtn {
			
            background-color: #009BBF;  /* #4CAF50;*/
            color: white;
            padding: 4px 4px 4px 8px;
            font-size: 14px;
            border: none;
            /* cursor: pointer; */
            margin-right:0px;
			height:28px;
        }
		
		
		
		

        /* The container <div> - h ttmlo position the dropdown content */
		.menubutton {
			position: relative;
            display: inline-block;
			margin-right:0px;
			padding-right:0px;
		}
		
        .dropdown {
            position: relative;
            display: inline-block;
			margin-right:0px;
			padding-right:0px;
        }

		.dropdown::after {
			/*content: '\25b6';*/
			content: '\25bc';
			float:right;
			vertical-align:middle;
			padding-top:4px;
			padding-bottom:4px;
			color: white;
			background-color: #009BBF;
            margin-right:10px;
			height:20px;
        }
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            color:white;
            background-color: #009BBF;
            min-width: 140px;			
            margin-left:0px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            cursor:pointer;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1;color:black}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #009BBF;
        }

		
		label.checkbox-label input[type=checkbox]{
        position: relative;
        vertical-align: middle;
		font-weight:normal;
        bottom: 1px;
    }
	
	.idDisplay a{color:inherit;}

.collapse_all_control{
	background-color: white;
	/*color:purple;*/
	cursor:pointer;
	/*font-weight:bold;	*/
}

.expand_all_control{
	background-color: white;
	color:purple;
	cursor:pointer;
	font-weight:bold;	
}

.collapse_control{
	background-color: white;
	/*color:blue;*/
	cursor:pointer;
	/*font-weight:bold;	*/
}

.collapse_q_control{
	background-color: white;
	/*color:blue;	*/
	cursor:pointer;
	/*font-weight:bold;	*/
}

.expand_control{
	background-color: white;
	color:blue;
	cursor:pointer;
	font-weight:bold;	
}

.expand_q_control{
	background-color: white;
	color:blue;
	cursor:pointer;
	font-weight:bold;	
}

/* for sections */
.collapsable{
	background-color: whitesmoke;
	color:blue;
	cursor:pointer;
	font-weight:bold;					
}

.collapsable:before{
	color:white;
	content: "\25E2";   /*lower-right triangle - with fill*/
	vertical-align:middle;
	margin-left:4px;
	float:left;
}

.collapsed:before{
	color:white;
	cursor:pointer;
	/*content: "\25B7"; */   /*right-pointing traingle - no fill*/
	content: "\25B6";
	vertical-align:top;
	margin-left:4px;
	float:left;
}

/* for questions */
.collapsable_q{
	background-color: white;
	cursor:pointer;				
}

.collapsable_q:before{
	color:blue;
	content: "\25E2";   /*lower-right triangle - with fill*/
	vertical-align:middle;
	margin-left:4px;
	margin-right:6px;
	float:left;
}

.collapsed_q:before{
	color:blue;
	cursor:pointer;
	/*content: "\25B7"; */   /*right-pointing traingle - no fill*/
	content: "\25B6";
	vertical-align:top;
	margin-left:4px;
	margin-right:6px;
	float:left;
}

Body{
   font-family: Arial;
   font-size: 12px;
   width: 99%;
   margin-left: auto;
   margin-right: auto;
}
.nameValue{
   display: inline;
   font-style: normal;
   margin-left: 5px;
   font-weight:normal;
}
li{
   padding: 1px;
   color: blue;
   list-style-type: square;
}
p
{
	margin-top:2px;
	margin-bottom:2px;
	padding:0px;
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	overflow-y: scroll;
	overflow-x: auto;
	height: 800px;
}

.split.split-horizontal {
	height: 800px;
	/* height: 100%; */
	float: left;
	overflow-y: scroll;
}

.altText{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: yellow; /**/
   color: black;
   font-weight:bold
}

.mustImplement{
   display: inline;
    font-style: normal;
    font-weight:bold;
    /*  margin-left: 5px;*/ 
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
}

.reportText{
   display: inline;
   font-style: normal;
     margin-left: 5px;
   background-color: orange; /*coral*/
   color: black;
   font-weight:bold
}
.reportTextValue
{
display: inline;
 margin-left: 5px;
    color: black; 
     font-style: normal;
}
.reportTextValueSection
{
display: inline;
 margin-left: 5px;
    color: white; 
     font-style: normal;
}
.nameDiv{
   display: inline-block;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
}
.name{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #572D1D; 
   color: white;
   font-weight:bold
}
.row{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.BodyGroup{
   margin-left: 110px; 
   margin-right: auto;
   text-align: left;
}

.HeaderTable{
   width: 99.75%;
   margin-top: 5px;
   margin-bottom: 5px;
   /*margin-left: 20px;*/
   margin-left:2px;
   margin-right: 2px;
   border: solid 1px #000080;
   padding: 0px;
   clear: both;
}

.HeaderTableChild{
   width: 97.5%;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 10px;
   /*    margin-right: 25px;*/
   border: solid 1px #000080;
   padding: 0px;
   clear: both;
}
.HeaderGroupText{
   font-size: 12px;
   font-weight: bold;
   background-color: #FFFFFF;
   color: #000080;
   padding: 8px;
   vertical-align: bottom;
}
.HeaderInfoText{
   font-size: 12px;
   text-align: right;
   font-style: italic;
}
.HeaderText{
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   background-color: #FFFFFF;
   color: #000080;
   padding: 8px;
   vertical-align: bottom;
}

.TopHeader{
   text-align: center;
   font-size: 25px;
   font-weight: bold;
   background-color: #000080;
   color: #FFFFFF;
   padding: 2px;
   cursor:pointer;
}
.TopHeader2{
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   background-color: #000080;
   color: #FFFFFF;
   padding: 2px;
   
   cursor:pointer;
}

.TopHeaderDemo{
   text-align: center;
   font-size: 25px;
   font-weight: bold;
   background-color: darkgreen;
   color: #FFFFFF;
   padding: 2px;
   cursor:pointer;
}
.TopHeaderDemo2{
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   background-color: darkgreen;
   color: #FFFFFF;
   padding: 2px;
   cursor:pointer;
}

.MetadataDisplay
{
   display: inline;
   font-weight: normal;
   font-size: 11px;
}

.ChangeDisplay{
   display: inline;
   font-weight: normal;
}

.idDisplay{
   display: inline;
   color: red;
   font-weight: normal;
}

.form-version
{
	font:courier;
	font-size:9px;
	float:right;
}

.thinBox
{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-style:italic;
	background-color: #000080;
	color: #FFFFFF;
	padding: 2px;
}

.QuestionReset
{
	float: right;
	padding-left: 2px;
	font-size: 10px;
	text-decoration: none;
	font-style: normal;
	color: Blue;
}

.QuestionInSection
{
	float: left;
	width: 48%;
	padding: 2px;
}

.QuestionInQuestion
{
	float: left;    
	padding: 2px;
}

.QuestionInListItem
{
	padding: 2px;
	padding-left: 20px;
}

.QuestionTitle
{
	padding: 2px;
	background-color: #add8e6;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	clear: both;
}

.Answer
{
	float: left;
	padding-top: 2px;
	width: 93%;
}

.NoteText{
   padding: 2px;
   padding-left: 20px;
   font-weight: bold;
   color: Blue;
   clear: both;
}
.NoteText2{
   padding: 2px;
   padding-left: 20px;
   font-weight: bold;
   color: blue;
   float: left;
   width: 48%;
}

.ListNote{
   padding: 2px;
   padding-left: 5px;
   font-weight: bold;
   color: #b22222; /*firebrick*/
   clear: both;
}

.DisplayedItem
{
	padding: 2px;
	background-color: whitesmoke;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	clear: both;
}
				
.DisplayProperty
{
	float: left;
	padding-top: 2px;
	width: 22%;
}

.DisplayProperty1
{
	float: left;
	padding-top: 2px;
	padding-left: 5px;
}

.AnswerTextBox
{
	height: 11px;
	font-size: 10px;
	padding-left: 2px;
	margin-left: 4px;
}

.newItem{
   background-color: green;
   color: white;
   font-style: normal;
   font-weight: bold;
   margin-left: 5px;
}

#diff th {
    background-color: #E9E9E9;
    padding: 0px;
    text-align: left;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*Response Attributes*/
.dataType{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #deb887; /*burlywood*/
   color: black;
   font-weight:bold
}
.answerUnits{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #deb887; /*burlywood*/
   color: black;
   font-weight:bold
}

.ResponseUnits{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #deb887; /*burlywood*/
   color: black;
   font-weight:bold
}

.TextAfterResponse{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #deb887; /*burlywood*/
   color: black;
   font-weight:bold
}
.responseRequired{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight:bold
}
/*ListItems*/
.sdc{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #7fffd4; /*aquamarine*/
   color: black;
   font-weight:bold
}
.sds{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #7fffd4; /*aquamarine*/
   color: black;
   font-weight:bold
}
.omitWhenSel{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight:bold
}
.selected{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*yellow*/
   color: black;
   font-weight:bold
}

/*Common Attributes*/
.notRequired /*for the "+" sign*/{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight: bold;
}

.length{
   background-color: purple;
   color: white;
   font-style: normal;
   font-weight: bold;
   margin-left: 5px;
}

/*Question and Section Attributes*/
.deprecatedItem{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: purple;
   color: white;
   font-weight:bold
}

.parent{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #000000; /*black*/
   color: white;
   font-weight:bold
}

.prevSibling{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #4169e1; /*royal blue*/
   color: white;
   font-weight:bold
}

.minCard{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight:bold
}
.maxCard{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight:bold
}

.ajcc {
	background-color: red;
	color: white;
}

.figo {
	background-color: red;
	color: white;
}

.cs {
	background-color: red;
	color: white;
}

.templateTitle {
	background-color: yellow;
	color: black;
}

.resChanged{
	background-color: red;
	color: white;
}

/*
.NoteText{
   padding: 2px;
   padding-left: 20px;
   font-weight: bold;
   color: Blue;
   clear: both;
}
.NoteText2{
   padding: 2px;
   padding-left: 20px;
   font-weight: bold;
   color: blue;
   float: left;
   width: 48%;
}
*/
.TextBox
{
	padding: 2px;
	width: 98%;
	height: 15px;
}

.SubmitButton
{
	padding: 2px;
	text-align: center;
}

.MessageDataResult
{
	padding-bottom: 20px;
	padding-top: 20px;
	clear: both;
	padding-left: 10px;
	padding-right: 10px;
}

.MessageDataQuestion
{
	padding-left: 20px;
	color: blue;
	font-style: italic;
}

.MessageDataAnswer
{
	padding-left: 20px;
	color: green;
	font-style: normal;
	font-weight: bold;
}

.MessageDataChecklist
{
	font-weight: bold;
	color: red;
}


.header_text
{
	border-bottom:1px solid black;padding-bottom:0px;text-align:left;
}

.title
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-style:italic;
	background-color: #FFFFFF;
	color: #000080;
	padding: 8px;
	vertical-align: bottom;
}

#S1
{
	font-size: 18px;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000080;
	padding: 8px;
	vertical-align: bottom;
}
.right.noBreak{float: right}
.right{float: right;clear:both}
.float-right{float: right;}
.float-left{float: left;}
.Header_left
{
	color:purple;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
/*
.left
{
	text-align:left;clear:both;
}
*/
.copyright
{
	font-style:italic;
	/*float:left;*/
}

.section_wthin_list
{
	margin-left:20px;
}

.error
{
	
	border: solid 1px red;
	background-color: red;
	color:white;
}

.formTitle{
	font-weight:bold;
	font-size:20px;
	color:navy;
}


#confirmBox
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#confirmBox .button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#confirmBox .button:hover
{
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}

#columnarblock {
    width: 100%;
    /*border: solid 1px #000;*/
    display: flex;
    justify-content: space-between;
	background:lightblue;
}

#left-column {
    width: 80%;
	padding:4px;
    /*border: solid 1px #000;*/
}

#right-column {
    width: 20%;
	padding:4px;
    /*border: solid 1px #000;*/
    /*  height: 200px;*/
}
.maxSelections
{
 display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
     margin-right:5px;
   background-color: #00bfff; /*deepSkyBlue*/
   color: black;
   font-weight:bold   
}
.nameDiv{
   display: inline;
   font-style: normal;
    font-weight:bold;
     margin-left: 5px;
     font-weight:bold
}